*.csv filter=lfs diff=lfs merge=lfs -text
*.svg !text !filter !merge !diff
*.labx !text !filter !merge !diff
*.skb !text !filter !merge !diff
*.odg !text !filter !merge !diff
*.ppm !text !filter !merge !diff
*.pdf !text !filter !merge !diff
*.doc !text !filter !merge !diff
*.odt !text !filter !merge !diff
*.png !text !filter !merge !diff
*.docx !text !filter !merge !diff
*.gif !text !filter !merge !diff
*.wav !text !filter !merge !diff
*.xlsx !text !filter !merge !diff
*.odp !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.mp4 !text !filter !merge !diff
*.ggb !text !filter !merge !diff
*.ods !text !filter !merge !diff
*.pptx !text !filter !merge !diff
*.dsim !text !filter !merge !diff
*.sb !text !filter !merge !diff
*.avi !text !filter !merge !diff
*.fla !text !filter !merge !diff
*.swf !text !filter !merge !diff
*.rar !text !filter !merge !diff
*.zip !text !filter !merge !diff
*.layout !text !filter !merge !diff
*.skp !text !filter !merge !diff
.*.jsonl !text !filter !merge !diff
*.jsonl !text !filter !merge !diff
